<div class="container text-center">
  <h1>French Flats</h1>

  <div class="flat-wrapper">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <img src="<%= flat["imageUrl"] %>" alt="">
        <h3><%= flat['name'] %></h2>
        <h3><%= flat['price'] %> EUR</h3>
      </div>
    <% end %>
  </div>
</div>
